<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>JPA 회원 수정</h1>
	<form action="/members/memberUpdate" method="get">
		<input type="hidden" name="id"  th:value="${member.id}">
		<input type="hidden" name="teamid"  th:value="${member.team.team_id}">
		회원이름:<input type="text" id="name" name="name"  th:value="${member.name}"><br>
		팀 이름  :<input type="text" id="name" name="teamname" th:value="${member.team.name}"><br>
				<button type="submit"> 회원수정처리</button>
	</form>
</body>
</html>